<!DOCTYPE html>
<html lang="en" ng-App="myApp">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Calculator</title>
</head>
<body ng-controller="btnController">
    <div class="calculator-body">
        <button id="clear" ng-click="clearInputValue()">Clear</button>
        <input type="value" id="input" value="{{ inputValue }}">
        <button class="button number" id="seven" ng-click="addOn(seven)">7</button>
        <button class="button number" id="eight" ng-click="addOn(eight)">8</button>
        <button class="button number" id="nine" ng-click="addOn(nine)">9</button>
        <button class="button operator" id="divide" ng-click="divide()">/</button>
        <button class="button number" id="four" ng-click="addOn(four)">4</button>
        <button class="button number" id="five" ng-click="addOn(five)">5</button>
        <button class="button number" id="six" ng-click="addOn(six)">6</button>
        <button class="button operator" id="multiply" ng-click="multiply()">*</button>
        <button class="button number" id="one" ng-click="addOn(one)">1</button>
        <button class="button number" id="two" ng-click="addOn(two)">2</button>
        <button class="button number" id="three" ng-click="addOn(three)">3</button>
        <button class="button operator" id="subtract" ng-click="subtract()">-</button>
        <button class="button number" id="zero" ng-click="addOn(zero)">0</button>
        <button class="button operator" id="period" ng-click="addOn(period)">.</button>
        <button class="button operator" id="equals" ng-click="eval()">=</button>
        <button class="button operator" id="plus" ng-click="add()">+</button>

    </div>
</body>
</html>